%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{sub_dirs, ["apps/ryaws", "rel"]}.

{cover_enabled, true}.

{erl_opts, [warnings_as_errors]}.

{deps, [{yaws, ".*", {git, "git://github.com/klacke/yaws.git", "HEAD"}},
        {rebar_dist_plugin, ".*", {git,
                "git://github.com/hyperthunk/rebar_dist_plugin.git",
                "HEAD"}},
        {rebar_retest_plugin, ".*", {git,
                "git://github.com/hyperthunk/rebar-retest-plugin.git",
                "HEAD"}},
        {retest, ".*", {git, "git://github.com/dizzyd/retest.git",
                "HEAD"}}]}.

{rebar_plugins, [rebar_dist_plugin]}.
{dist, [{assembly, release}]}.
