%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{lib_dirs, ["."]}.
{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{erl_opts, [warnings_as_errors]}.

{deps, [{yaws, ".*", {git, "https://github.com/klacke/yaws.git", "HEAD"}},
        {rebar_dist_plugin, "0.0.6", {git,
                "https://github.com/hyperthunk/rebar_dist_plugin.git",
                {tag, "0.0.6"}}},
        {rebar_retest_plugin, ".*", {git,
                "https://github.com/hyperthunk/rebar_retest_plugin.git",
                "HEAD"}},
        {retest, ".*", {git, "https://github.com/dizzyd/retest.git",
                "HEAD"}}]}.

{rebar_plugins, [rebar_dist_plugin]}.
{dist, [{assembly, release}]}.
